[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.0"
opencv-contrib-python = "*"
requests = "*"
"ruamel.yaml" = "*"
jsonschema = "*"
jsonpointer = "*"
wrapt = "*"

[dev-packages]
black = "*"
json-schema-for-humans = "*"

[requires]
python_version = "3.9"

[scripts]
tag-grid-scanner = "python runner.py"
generate-schema-doc = "generate-schema-doc --config-file json-schema-for-humans.yaml  taggridscanner/aux/config_schema.yaml docs/"
