[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.26"
opencv-contrib-python = "~=4.11.0"
requests = "~=2.28"
"ruamel.yaml" = "~=0.17"
jsonschema = "~=4.17"
jsonpointer = "~=2.3"
wrapt = "~=1.15"
python-nonblock = "~=4.0.1"

[dev-packages]
black = "~=23.1"
json-schema-for-humans = "~=0.44"

[requires]
python_version = "3.9"

[scripts]
tag-grid-scanner = "python runner.py"
generate-schema-doc = "generate-schema-doc --config-file json-schema-for-humans.yaml  taggridscanner/aux/config_schema.yaml docs/"
